@charset "UTF-8";

/*Versão Desktop*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    margin: 0px;
    box-sizing: border-box; 
}

body, html {
    width: 100vw;
    height: 100vh;

}

body { 
    background: #FFFFFF no-repeat;
}

@media only screen and (max-width: 1280px) and (min-width: 470px){

    .four{
    width: 552.51px;
    height: 521.01px;
    top: 155px;
    left: 87.49px;
    position: relative;


    }

    #area {
    position: relative;
    top: -330px;
    left: 700px;
    width: 459px;
    height: 225px;
    border-radius: 20px;
    opacity: 50%;
    font-size: 16px;
        
    }

    .a1 {
    width: 480px;
    height: 100px;
    top: -342px;
    left: 732px;

    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;

        
    
    }
    
    #containertela1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 50px;
        position: relative;
        gap: 20px;
    }
    
    #containertela1tela1{
        display: flex;
        align-items: center;
        flex-direction: column;
        top: 20px;
        position: relative;
    }
    
    .btn1a, .btn1b {
        background-color: #3EB25E;
        color: white;
        font-size: 22px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 199px;
        height: 36px;
        border-radius: 35px;
      
        text-align: center;
        line-height: 16px;
        font-weight: bold;
        position: relative;
        align-items: center;
        top: -340px;
        left: 770px;
        
    }

    .btn2c {
        background-color: #3EB25E;
        color: white;
        font-size: 22px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        width: 418px;
        height: 36px;
        border-radius: 35px;
        flex-direction: row;
    
        text-align: center;
        line-height: 16px;
        font-weight: bold;
        position: relative;
        align-items: center;
        top: -380px;
        left: 770px;
    }


}


